In [32]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [33]:
import os
import pandas as pd
lista_arquivos= os.listdir('/content/drive/MyDrive/Vendas')
print(lista_arquivos)

['Devolucoes - Curitiba.csv', 'Devolucoes - Goiás.csv', 'Devolucoes - Recife.csv', 'Vendas - Salvador.csv', 'Devolucoes - Fortaleza.csv', 'Vendas - São Paulo.csv', 'Devolucoes - São Paulo.csv', 'Vendas - Curitiba.csv', 'Devolucoes - Belo Horizonte.csv', 'Devolucoes - Salvador.csv', 'Devolucoes - Porto Alegre.csv', 'Vendas - Belo Horizonte.csv', 'Devolucoes - Rio de Janeiro.csv', 'Vendas - Fortaleza.csv', 'Vendas - Goiás.csv', 'Vendas - Rio de Janeiro.csv', 'Vendas - Porto Alegre.csv', 'Vendas - Recife.csv']

In [19]:
!pip install pandas

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2022.2.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [39]:
tabela_total=pd.DataFrame()
for arquivo in lista_arquivos:
  # se tem "Vendas" no nome do arquivo, então
   if "Vendas" in arquivo:
    tabela = pd.read_csv(f"/content/drive/MyDrive/Vendas/{arquivo}")
    tabela_total = tabela_total.append(tabela)
display(tabela_total)

,Unnamed: 0,SKU,Produto,Quantidade Vendida,Primeiro Nome,Sobrenome,Data,Loja,Preco Unitario,Unnamed: 8
0,40,HL1148,Câmera,2,Gabriel,Almeida,11/16/2018,Salvador,2100,NaN
1,42,HL2714,Tablet,5,Rodrigo,Alves,2/27/2018,Salvador,1600,NaN
2,51,HL1918,iPhone,4,Ulisses,Arruda,5/5/2018,Salvador,5300,NaN
3,70,HL9962,Android,3,Raissa,Negrelli,3/10/2018,Salvador,3400,NaN
4,94,HL1918,iPhone,2,Breno,Caputo,3/30/2018,Salvador,5300,NaN
...,...,...,...,...,...,...,...,...,...,...
720,9938,HL4379,Televisão,3,Fernanda,Silva,12/18/2018,Recife,2500,NaN
721,9941,HL2714,Tablet,5,Alvaro,Kranz,11/21/2018,Recife,1600,NaN
722,9969,HL1918,iPhone,4,Itai,Puntel,11/6/2018,Recife,5300,NaN
723,9986,HL9962,Android,4,Julia,Leite,4/8/2018,Recife,3400,NaN
724,9992,HL1918,iPhone,1,Marina,Cormack,12/31/2018,Recife,5300,NaN

In [40]:
tabela_produtos = tabela_total.groupby('Produto').sum()
tabela_produtos = tabela_produtos[["Quantidade Vendida"]].sort_values(by="Quantidade Vendida", ascending=False)
display(tabela_produtos)

            Quantidade Vendida
Produto
iPhone                    8974
Televisão                 5931
Notebook                  3249
Android                   3183
SmartWatch                2980
Tablet                    2921
Câmera                    2805

In [41]:
tabela_total['Faturamento'] = tabela_total['Quantidade Vendida'] * tabela_total['Preco Unitario']

In [42]:
tabela_faturamento = tabela_total.groupby('Produto').sum()
tabela_faturamento = tabela_faturamento[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_faturamento)

            Faturamento
Produto
iPhone         47562200
Televisão      14827500
Notebook       11371500
Android        10822200
Câmera          5890500
Tablet          4673600
SmartWatch      4172000

In [43]:
tabela_lojas= tabela_total.groupby('Loja').sum()
tabela_lojas = tabela_lojas[["Faturamento"]].sort_values(by="Faturamento", ascending=False)
display(tabela_lojas)

                Faturamento
Loja
São Paulo          22098300
Rio de Janeiro     14867800
Fortaleza          14087900
Salvador           13111300
Goiás               7441800
Recife              7303000
Curitiba            7060500
Porto Alegre        6868600
Belo Horizonte      6480300

In [45]:
import plotly.express as px
grafico = px.bar(tabela_lojas, x=tabela_lojas.index, y='Faturamento')
grafico.show()